*$py.class
*.egg
*.egg-info/
*.py[cod]
*.so
*.sublime-project
*.sublime-workspace
*parameters.json
.Python
.eggs/
.env
.envs-local
.idea
.installed.cfg
.pytest_cache
.vscode
__pycache__/
build/
data/
develop-eggs/
dist/
downloads/
eggs/
env*.json
lib/
lib64/
parts/
sdist/
share/python-wheels/
testtest.py
var/
vault-password-file
venv/
wheels/
