- name: Install samba server
  ansible.builtin.apt:
    name: samba
    state: latest
    update_cache: yes
  become: true

- name: Copy smb config
  ansible.builtin.copy:
    src: smb.conf
    dest: /etc/samba/smb.conf
  register: samba_config
  become: true

- name: Restart samba
  ansible.builtin.systemd:
    state: restarted
    name: smbd
  when: samba_config.changed
  become: true
