location:
  source_directories:
    - /mnt/data/data/gitea
    - /mnt/data/data/jellyfin
    - /mnt/data/data/pgdata
    - /mnt/data/data/photoprism
    - /mnt/data/data/qbittorrent
    - /mnt/data/hassio

  repositories:
    - /mnt/media/server_backup

  exclude_if_present:
    - .nobackup

storage:
  encryption_passphrase: "{{ BORG_PASSPHRASE }}"

retention:
  keep_daily: 7
