---
# Beelink-specific packages (not in common)
- name: Install beelink-specific packages
  ansible.builtin.apt:
    name:
      - avahi-daemon
      - iptables-persistent
      - nnn
      - ntfs-3g
      - python3-passlib
      - rclone
      - rmlint
      - sqlite3
      - smartmontools
    update_cache: yes
    state: present
  become: true

- name: Ensure iptables persistent dir exists
  ansible.builtin.file:
    path: /etc/iptables
    state: directory
    owner: root
    group: root
    mode: 0755
  become: true

- name: Create logs dir
  ansible.builtin.file:
    path: "{{ logs_dir }}"
    state: directory

- name: Setup external drives
  block:
    - name: Create dirs for external drives
      ansible.builtin.file:
        path: /mnt/{{ item }}
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
      with_items:
        - ssd
        - hdd

    - name: mount data disks
      ansible.posix.mount:
        path: "/mnt/{{ item.path }}"
        src: PARTUUID="{{ item.partuuid }}"
        fstype: ext4
        opts: "{{ item.opts | default('defaults') }}"
        dump: "{{ item.dump | default('0') }}"
        passno: "{{ item.passno | default('0') }}"
        state: mounted
      with_items:
        - { "path": "ssd", "partuuid": "1ae670cf-01" }
        - { "path": "hdd", "partuuid": "d5dcdc68-01", "opts": "defaults,nofail" }
  become: true

- name: copy custom pg_hba.conf
  ansible.builtin.template:
    src: pg_hba.conf
    dest: "{{ data_dir }}/postgres/data/pg_hba.conf"
  register: pg_hba
  become: true

- name: Database container
  community.docker.docker_container:
    name: postgres
    image: postgres:16-alpine
    restart: "{{ pg_hba.changed | default(false) }}"
    restart_policy: "always"
    networks:
      - name: "{{ docker_network }}"
    ports:
      - "5432:5432"
    volumes:
      - "{{ data_dir }}/postgres/data:/var/lib/postgresql/data"
      - "/var/run/postgresql:/var/run/postgresql"
    env:
      POSTGRES_PASSWORD: "postgres"

- name: Add cloudflare repo
  block:
    - name: add apt-key
      ansible.builtin.get_url:
        url: https://pkg.cloudflare.com/cloudflare-main.gpg
        dest: /etc/apt/keyrings/cloudflare-main.gpg

    - name: cloudflare apt source
      ansible.builtin.apt_repository:
        repo: "deb [signed-by=/etc/apt/keyrings/cloudflare-main.gpg] https://pkg.cloudflare.com/cloudflared {{ ansible_distribution_release }} main"
        state: present

    - name: Install cloudflared
      ansible.builtin.apt:
        name: cloudflared
        update_cache: yes
  become: true

- name: check if bw cli is installed
  stat:
    path: /usr/local/bin/bw
  register: bw_cli

- name: Install bw cli
  block:
    - name: download bw cli
      get_url:
        url: "https://github.com/bitwarden/clients/releases/download/cli-v2025.1.3/bw-oss-linux-2025.1.3.zip"
        dest: /tmp/bw-latest.zip

    - name: install bw cli
      unarchive:
        src: /tmp/bw-latest.zip
        dest: /usr/local/bin
        remote_src: true
      become: true
  when: not bw_cli.stat.exists

- name: Get bw client, secret
  set_fact:
    bw_secrets: "{{ lookup('community.general.bitwarden_secrets_manager', '3407121d-6e9f-4f71-ba40-b29400a29a13') }}"

- name: setup bitwarden backup job
  block:
    - name: Create Bitwarden environment file
      copy:
        dest: /etc/bw.env
        content: |
          BW_CLIENTID={{ bw_secrets.note }}
          BW_CLIENTSECRET={{ bw_secrets.value }}
          BW_PASSWORD={{ lookup('community.general.bitwarden_secrets_manager', '45db43c7-e937-45c3-9fe5-b2940131f23a').value }}
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0600"
      become: true

    - name: copy bw_backup script
      ansible.builtin.copy:
        src: "bw_backup.sh"
        dest: "/usr/local/bin/bw_backup.sh"
        mode: "0755"
      become: true

    - name: copy bw backup systemd service
      ansible.builtin.template:
        src: "bw_backup.service"
        dest: "/etc/systemd/system/bw_backup.service"
      vars:
        bw_env_filepath: "/etc/bw.env"
        bw_backup_path: "{{ data_dir }}/bw"
      become: true

    - name: copy bw backup systemd timer
      ansible.builtin.copy:
        src: "bw_backup.timer"
        dest: "/etc/systemd/system/bw_backup.timer"
      become: true

    - name: enable bw backup timer
      ansible.builtin.systemd:
        name: bw_backup.timer
        enabled: yes
        state: started
        daemon_reload: yes
      become: true
