- name: qbittorrent
  community.docker.docker_container:
    name: "qbittorrent"
    image: "lscr.io/linuxserver/qbittorrent:latest"
    pull: true
    restart_policy: "unless-stopped"
    networks:
      - name: "{{ network }}"
    ports:
      - "6881:6881"
      - "6881:6881/udp"
    env:
      TZ: "{{ tz }}"
      PUID: "1000"
      PGUID: "1000"
      WEBUI_PORT: "8080"
    volumes:
      - "{{ data_dir }}/qbittorrent:/config"
      - "{{ downloads_dir }}:/downloads"
    labels:
      traefik.enable: "true"
      traefik.http.routers.qb.entrypoints: "web"
      traefik.http.routers.qb.rule: "Host(`torrent.{{ ansible_host }}`)"
      traefik.http.services.qb.loadbalancer.server.port: "8080"
