---
- name: Photoprism container
  community.docker.docker_container:
    image: photoprism/photoprism:latest
    pull: true
    name: photoprism
    restart_policy: "unless-stopped"
    networks:
      - name: "{{ network }}"
    volumes:
      - "/mnt/ssd/photos:/photoprism/originals"
      - "{{ data_dir }}/photoprism:/photoprism/storage"
    user: "1000:1000"
    env:
      PHOTOPRISM_ADMIN_PASSWORD: "{{ PASSWORD }}"
      PHOTOPRISM_UPLOAD_NSFW: "true"
    labels:
      traefik.enable: "true"
      traefik.http.routers.photo.entrypoints: "web"
      traefik.http.routers.photo.rule: "Host(`photo.{{ ansible_host }}`)"
      traefik.http.services.photo.loadbalancer.server.port: "2342"

- name: Check if cache dir exists
  ansible.builtin.stat:
    path: "{{ data_dir }}/photoprism/cache"
  register: cache_dir

- name: Add nobackup to photoprism cache
  ansible.builtin.file:
    path: "{{ data_dir }}/photoprism/cache/.nobackup"
    state: touch
    mode: 0666
  when: cache_dir.stat.exists
