[Unit]
Description=Keenetic rclone backup
OnFailure=systemd-notify@%i.service
After=network.target

[Service]
Type=oneshot
User=user
WorkingDirectory={{ logs_dir }}
ExecStart=/usr/local/bin/keenetic_backup.sh
StandardOutput=journal
StandardError=journal
