http:
  routers:
    root-redirect-to-about:
      rule: "Host(`{{ ansible_host }}`)"
      entryPoints:
        - web
        - websecure
      middlewares:
        - root-redirect
      service: noop@internal
      tls:
        certResolver: letsencrypt
    glances:
      entryPoints:
        - websecure
      middlewares:
        - auth-chain
      service: glances
      rule: Host(`glances.{{ ansible_host }}`)
      tls:
        certResolver: letsencrypt
    music:
      entryPoints:
        - websecure
      middlewares:
        - no-auth-chain
      service: music
      rule: Host(`music.{{ ansible_host }}`)
      tls:
        certResolver: letsencrypt
    movies:
      entryPoints:
        - websecure
      middlewares:
        - auth-chain
      service: movies
      rule: Host(`movies.{{ ansible_host }}`)
      tls:
        certResolver: letsencrypt
    files:
      entryPoints:
        - websecure
      middlewares:
        - no-auth-chain
      service: files
      rule: Host(`files.{{ ansible_host }}`)
      tls:
        certResolver: letsencrypt
    homeassistant:
      entryPoints:
        - websecure
      middlewares:
        - no-auth-chain
      service: homeassistant
      rule: Host(`ha.{{ ansible_host }}`)
      tls:
        certResolver: letsencrypt
    router:
      entryPoints:
        - websecure
      middlewares:
        - strip-headers
        - oauth2-proxy@docker
      service: router
      rule: Host(`router.{{ ansible_host }}`)
      tls:
        certResolver: letsencrypt

  middlewares:
    auth-chain:
      chain:
        middlewares:
          - oauth2-proxy@docker
          - auth-headers
          - rate-limit
          - compression

    no-auth-chain:
      chain:
        middlewares:
          - rate-limit
          - compression

    rate-limit:
      rateLimit:
        average: 100
        burst: 50

    compression:
      compress: {}

    auth-headers:
      headers:
        stsSeconds: 315360000
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        frameDeny: true
        referrerPolicy: "same-origin"
        permissionsPolicy: "camera=(), microphone=(), geolocation=(), payment=(), usb=(), vr=()"
        customResponseHeaders:
          Strict-Transport-Security: "max-age=63072000"
          X-Robots-Tag: "none,noarchive,nosnippet,notranslate,noimageindex"
          server: ""

    strip-headers:
      headers:
        customRequestHeaders:
          accept: ""
          accept-language: ""
          cache-control: ""
          priority: ""
          sec-ch-ua: ""
          sec-ch-ua-mobile: ""
          sec-ch-ua-platform: ""
          sec-fetch-dest: ""
          sec-fetch-mode: ""
          sec-fetch-site: ""
          sec-fetch-user: ""
          upgrade-insecure-requests: ""
          user-agent: ""

    root-redirect:
      redirectRegex:
        regex: "^https?://[^/]+/?(.*)"
        replacement: "https://about.{{ ansible_host }}"
        permanent: true

  services:
    glances:
      loadBalancer:
        servers:
          - url: http://{{ docker_gateway }}:61208
    music:
      loadBalancer:
        servers:
          - url: http://192.168.1.222:4533
    movies:
      loadBalancer:
        servers:
          - url: http://192.168.1.222:8096
    homeassistant:
      loadBalancer:
        servers:
          - url: http://192.168.1.223:8123
    files:
      loadBalancer:
        servers:
          - url: http://192.168.1.222:10080

    router:
      loadBalancer:
        servers:
          - url: http://192.168.1.1:80

# https://ssl-config.mozilla.org/#server=traefik&version=3.3.3&config=modern&guideline=5.7
tls:
  options:
    modern:
      minVersion: VersionTLS13
      curvePreferences:
        - X25519
        - CurveP256
        - CurveP384
