---
- name: Install system requirements
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - bash-completion
      - bsd-mailx
      - curl
      - debian-archive-keyring
      - htop
      - libacl1
      - libacl1-dev
      - liblz4-dev
      - libssl-dev
      - libxxhash-dev
      - libzstd-dev
      - mc
      - ncdu
      - ntfs-3g
      - python3-dev
      - python3-pip
    update_cache: yes
  become: true

- name: Install tg sendmail
  ansible.builtin.apt:
    deb: https://github.com/conformist-mw/sendmail/releases/download/v0.2.2/tg-sendmail_0.2.2_all.deb
  become: true

- name: Copy tg sendmail config
  ansible.builtin.template:
    dest: /etc/tg-sendmail.ini
    src: tg-sendmail.ini.j2
  become: true

- name: add 2TB disk
  ansible.posix.mount:
    path: /mnt/media
    src: UUID="281B99140849F384"
    fstype: ntfs
    opts: "auto,exec,rw,user,dmask=002,fmask=113,uid=1000,gid=1000"
    passno: 2
    state: present
  become: true

- name: Create server dir
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/server"
    state: directory

- name: Create data dir
  ansible.builtin.file:
    path: "{{ data_dir }}"
    state: directory
