---
- name: Copy htpasswd file
  ansible.builtin.copy:
    content: "{{ dumbproxy_htpasswd }}"
    dest: /etc/dumbproxy.htpasswd
    owner: 9999
    group: 9999
    mode: 0600
  become: true

- name: Run dumbproxy container
  community.docker.docker_container:
    image: yarmak/dumbproxy
    name: dumbproxy
    restart: true
    restart_policy: "unless-stopped"
    command: "-auth 'basicfile://?path=/etc/dumbproxy.htpasswd'"
    ports:
      - "10000:8080"
    volumes:
      - "/etc/dumbproxy.htpasswd:/etc/dumbproxy.htpasswd:ro"
