location:
  source_directories:
    - /mnt/data/data/gitea
    - /mnt/data/data/jellyfin
    - /mnt/data/data/pgdata
    - /mnt/data/data/photoprism
    - /mnt/data/data/qbittorrent
    - /mnt/data/hassio

  repositories:
    - /mnt/media/server_backup

  exclude_if_present:
    - .nobackup

storage:
  encryption_passphrase: "{{ lookup('community.general.bitwarden_secrets_manager', 'c6f1a5a9-a34f-404d-ad2a-b26d0130b756').value }}"

retention:
  keep_daily: 7
