[Unit]
Description=Immich Postgres dump -> Keenetic
OnFailure=systemd-notify@%n.service
After=network.target db_backup.service

[Service]
Type=oneshot
User=user
WorkingDirectory={{ logs_dir }}
ExecStart=/usr/local/bin/db_keenetic_backup.sh
StandardOutput=journal
StandardError=journal
