---
# VPS-specific packages (not in common)
- name: Install vps-specific packages
  ansible.builtin.apt:
    name:
      - python3-passlib
      - python3-venv
    update_cache: yes
  become: true

- name: Create server dir
  ansible.builtin.file:
    path: "{{ server_dir }}"
    state: directory

- name: Configure sysctl for wg0 interface
  ansible.posix.sysctl:
    name: "net.ipv4.conf.wg0.route_localnet"
    value: "1"
    sysctl_set: true
    state: present
    reload: yes
  become: true

- name: Install crowdsec
  block:
    - name: add apt-key
      ansible.builtin.get_url:
        url: https://packagecloud.io/crowdsec/crowdsec/gpgkey
        dest: /etc/apt/keyrings/crowdsec_crowdsec-archive-keyring.gpg

    - name: add crowdsec repository
      ansible.builtin.apt_repository:
        repo: "deb [signed-by=/etc/apt/keyrings/crowdsec_crowdsec-archive-keyring.gpg] https://packagecloud.io/crowdsec/crowdsec/any any main"
        state: present
        filename: crowdsec_crowdsec

    - name: Install crowdsec
      ansible.builtin.apt:
        name:
          - crowdsec
          - crowdsec-firewall-bouncer-iptables
        update_cache: yes
  become: true
