[Interface]
PrivateKey = {{ interface.private_key }}
Address = {{ interface.address }}
ListenPort = {{ interface.port }}

{% if interface.ipt_rules is defined %}
{% for rule, value in interface.ipt_rules.items() %}
{{ rule }} = {{ value }}
{% endfor %}
{% endif %}

{% for peer in interface.peers %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips | default([peer.address]) | join(', ') }}

{% endfor %}
