[Interface]
PrivateKey = {{ interface.private_key }}
Address = {{ interface.address }}
ListenPort = {{ interface.port }}

PostUp = /etc/wireguard/post-up.sh %i
PostDown = /etc/wireguard/post-down.sh %i

{% for peer in interface.peers %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips | default([peer.address]) | join(', ') }}

{% endfor %}
