[Interface]
PrivateKey = {{ iface.private_key }}
Address = {{ iface.address }}
ListenPort = {{ iface.port }}

PostUp = /etc/wireguard/wg-firewall-{{ iface_name }}.sh up
PostDown = /etc/wireguard/wg-firewall-{{ iface_name }}.sh down

{% for peer in iface.peers %}
# {{ peer.name }}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips | default([peer.address]) | join(', ') }}

{% endfor %}
