name: build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-16.04
    strategy:
      fail-fast: false
      matrix:
        jdk: [7, 8]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jdk }}
      - name: Downgrade gradle for JDK7
        if: ${{ matrix.jdk == 7 }}
        run: |
          mkdir /opt/gradle
          curl -L -o /tmp/gradle.zip https://services.gradle.org/distributions/gradle-5.6.4-bin.zip
          unzip -d /opt/gradle /tmp/gradle.zip
          ./opt/gradle/bin/gradle wrapper --gradle-version 5.6.4
      - name: Check gradle version
        run: "./gradlew --version"
